In [ ]:
Introduction to list datatype:

In [ ]:
definition: A list is a collection of items declared in a particular order
classification: It is classified as a mutable data type
how to declare the list datatype ... ? []

In [4]:
students = ['nusrath','deepika','rahul','naveen','joseph','imran'] #0,1,2,3,4,5

In [5]:
print(students)

['nusrath', 'deepika', 'rahul', 'naveen', 'joseph', 'imran']

In [6]:
type(students)

list

In [ ]:
Introduction to Indexing : 0,1,2,3.....!

In [ ]:
# Req: I want to get the name of Deepika in the output....?

In [7]:
print(students[1])

deepika

In [ ]:
# Req: I want to get the name of Rahul in the output....?

In [8]:
print(students[2])

rahul

In [10]:
print(students[2].title())

Rahul

In [ ]:
1.how to add new elements to the list
2.how to modify the elements in the list
3.how to delete the elements in the list

In [ ]:
#Req : I want to add harish to the above list..?

In [11]:
students.append('harish')

In [12]:
print(students)

['nusrath', 'deepika', 'rahul', 'naveen', 'joseph', 'imran', 'harish']

In [ ]:
#Req : I want to add yamini to the above list..?

In [13]:
students.append('yamini')

In [14]:
print(students)

['nusrath', 'deepika', 'rahul', 'naveen', 'joseph', 'imran', 'harish', 'yamini']

In [ ]:
# Req : I want to add nikhil to 2nd index...?

In [15]:
students.insert(2,'nikhil')

In [16]:
print(students)

['nusrath', 'deepika', 'nikhil', 'rahul', 'naveen', 'joseph', 'imran', 'harish', 'yamini']

In [17]:
print(students[2])

nikhil

In [ ]:
Interview Question : What is the diff btw append and insert method in a list ....? ***

In [18]:
print(students)

['nusrath', 'deepika', 'nikhil', 'rahul', 'naveen', 'joseph', 'imran', 'harish', 'yamini']

In [ ]:
# Req : I want to modify naveen name to satish ?

In [19]:
students[4] ='satish'

In [20]:
print(students)

['nusrath', 'deepika', 'nikhil', 'rahul', 'satish', 'joseph', 'imran', 'harish', 'yamini']